@font-face {
  font-family: Bangers;
  src: url("../assets/Bangers-Regular.ttf");
}

@font-face {
  font-family: Komika;
  src: url("../assets/komika.hand.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background: url("../assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Bangers;
  color: palegoldenrod;
  text-shadow: 2px 2px 4px black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}